#pwindicator {
    margin-top: 0px;
    width: 100%;
}

.bar {
    height: 3px;
    position: absolute;
    margin-top: -38px;
}

/*.label {display: none;}*/

.pw-very-weak .bar {
    background: #d00;
    width: 20% !important;
}

.pw-very-weak .label {
    color: #d00;
}

.pw-weak .bar {
    background: #d00;
    width: 40% !important;
}

.pw-weak .label {
    color: #d00;
}

.pw-mediocre .bar {
    background: #f3f01a;
    width: 50% !important;
}

.pw-mediocre .label {
    color: #f3f01a;
}

.pw-strong .bar {
    background: #f3b31a;
    width: 60% !important;
}

.pw-strong .label {
    color: #f3b31a;
}

.pw-very-strong .bar {
    background: #0d0;
    width: 100% !important;
}

.pw-very-strong .label {
    color: #0d0;
}
